<table class="table table-striped">
  <div class="title mt-2 pt-3 mb-2">
    <h3>Employees' List</h3>
  </div>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Position</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Salary</th>
      <th scope="col">Date Hired</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.position %></td>
        <td><%= employee.phone_number %></td>
        <td><%= employee.salary %></td>
        <td><%= employee.date_hired %></td>
        <td><%= link_to 'Edit',  edit_employee_path(employee), class: "btn btn-outline-dark btn-sm" %></td>
        <td><%= link_to 'Show',  employee_path(employee), class: "btn btn-outline-info btn-sm" %></td>
        <td><%= link_to "Delete", employee_path(employee), method: :delete, 
                      data: { confirm: "Are you sure you want to delte this article?" }, 
                      class: "btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>